.ipynb_checkpoints
*/.ipynb_checkpoints/*
Old_diagnostic_samples.csv

dist
data
cache

.RData
.Rhistory
node_modules

vite-project/.env
vite-project/.firebaserc
vite-project/firebase.json
vite-project/src/assets/104735-001-098.summary.json
vite-project/src/assets/output-schema.json

# Hamlet charts for now
debug.Rmd

*.tsbuildinfo
backend/logs
backend/service/logs
backend/data
backend/tools
backend/tools_runtime
backend/service/firebase-credentials.json
backend/service/uploads
environment.yml
firebase_do_not_delete.json
backend/service/debug.config.json
backend/counts_all_strands.csv

backend/__pycache__
