.ipynb_checkpoints
*/.ipynb_checkpoints/*
Old_diagnostic_samples.csv

dist
data
cache

.RData
.Rhistory
node_modules

vite-project/.env
vite-project/.firebaserc
vite-project/firebase.json
vite-project/src/assets/104735-001-098.summary.json
vite-project/src/assets/output-schema.json

# Hamlet charts for now
vite-project/src/components/charts/hamlet-charts
debug.Rmd

*.tsbuildinfo
